APP_NAME=APP_NAME
PORT=3000
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USERNAME=root
DATABASE_PASSWORD=password
DATABASE_NAME=template-node-nestjs-dev

# 세션 설정
SESSION_SECRET=my_session_secret
SESSION_MAX_AGE=86400000

# Redis 설정 (운영 환경용)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password